/* ========================================================================
UIkit 3
========================================================================== */
.uk-icon-button {
    width: 40px;
    height: 40px;
}
.uk-label-default {
    background-color: transparent !important;
    color: #777 !important;
    box-shadow: inset 0px 0px 0px 1px #777;
}
/* Notification
========================================================================== */
.uk-notification-message {
    background-color: #212121;
}
.uk-notification-message:not([class*="uk-notification-message-"]) {
    color: #fff;
}
/* a[class*="fa-"] {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
} */
/* ========================================================================
Exookit
========================================================================== */
.ex-toggle-switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 30px;
    vertical-align: middle;
}
.ex-toggle-switch input {
    display: none;
}
.ex-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dadada;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}
.ex-toggle-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10%;
}
input:checked + .ex-toggle-slider {
    background-color: #00c719;
}
input:checked + .ex-toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.ex-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Color
========================================================================== */
.ex-text-white {
   color: #ffffff !important;
}
.ex-text-red {
   color: #f44336 !important;
}
.ex-text-red-50 {
   color: #ffebee !important;
}
.ex-text-red-100 {
   color: #ffcdd2 !important;
}
.ex-text-red-200 {
   color: #ef9a9a !important;
}
.ex-text-red-300 {
   color: #e57373 !important;
}
.ex-text-red-400 {
   color: #ef5350 !important;
}
.ex-text-red-500 {
   color: #f44336 !important;
}
.ex-text-red-600 {
   color: #e53935 !important;
}
.ex-text-red-700 {
   color: #d32f2f !important;
}
.ex-text-red-800 {
   color: #c62828 !important;
}
.ex-text-red-900 {
   color: #b71c1c !important;
}
.ex-text-red-a100 {
   color: #ff8a80 !important;
}
.ex-text-red-a200 {
   color: #ff5252 !important;
}
.ex-text-red-a400 {
   color: #ff1744 !important;
}
.ex-text-red-a700 {
   color: #d50000 !important;
}
.ex-text-pink {
   color: #e91e63 !important;
}
.ex-text-pink-50 {
   color: #fce4ec !important;
}
.ex-text-pink-100 {
   color: #f8bbd0 !important;
}
.ex-text-pink-200 {
   color: #f48fb1 !important;
}
.ex-text-pink-300 {
   color: #f06292 !important;
}
.ex-text-pink-400 {
   color: #ec407a !important;
}
.ex-text-pink-500 {
   color: #e91e63 !important;
}
.ex-text-pink-600 {
   color: #d81b60 !important;
}
.ex-text-pink-700 {
   color: #c2185b !important;
}
.ex-text-pink-800 {
   color: #ad1457 !important;
}
.ex-text-pink-900 {
   color: #880e4f !important;
}
.ex-text-pink-a100 {
   color: #ff80ab !important;
}
.ex-text-pink-a200 {
   color: #ff4081 !important;
}
.ex-text-pink-a400 {
   color: #f50057 !important;
}
.ex-text-pink-a700 {
   color: #c51162 !important;
}
.ex-text-purple {
   color: #9c27b0 !important;
}
.ex-text-purple-50 {
   color: #f3e5f5 !important;
}
.ex-text-purple-100 {
   color: #e1bee7 !important;
}
.ex-text-purple-200 {
   color: #ce93d8 !important;
}
.ex-text-purple-300 {
   color: #ba68c8 !important;
}
.ex-text-purple-400 {
   color: #ab47bc !important;
}
.ex-text-purple-500 {
   color: #9c27b0 !important;
}
.ex-text-purple-600 {
   color: #8e24aa !important;
}
.ex-text-purple-700 {
   color: #7b1fa2 !important;
}
.ex-text-purple-800 {
   color: #6a1b9a !important;
}
.ex-text-purple-900 {
   color: #4a148c !important;
}
.ex-text-purple-a100 {
   color: #ea80fc !important;
}
.ex-text-purple-a200 {
   color: #e040fb !important;
}
.ex-text-purple-a400 {
   color: #d500f9 !important;
}
.ex-text-purple-a700 {
   color: #aa00ff !important;
}
.ex-text-deeppurple {
   color: #673ab7 !important;
}
.ex-text-deeppurple-50 {
   color: #ede7f6 !important;
}
.ex-text-deeppurple-100 {
   color: #d1c4e9 !important;
}
.ex-text-deeppurple-200 {
   color: #b39ddb !important;
}
.ex-text-deeppurple-300 {
   color: #9575cd !important;
}
.ex-text-deeppurple-400 {
   color: #7e57c2 !important;
}
.ex-text-deeppurple-500 {
   color: #673ab7 !important;
}
.ex-text-deeppurple-600 {
   color: #5e35b1 !important;
}
.ex-text-deeppurple-700 {
   color: #512da8 !important;
}
.ex-text-deeppurple-800 {
   color: #4527a0 !important;
}
.ex-text-deeppurple-900 {
   color: #311b92 !important;
}
.ex-text-deeppurple-a100 {
   color: #b388ff !important;
}
.ex-text-deeppurple-a200 {
   color: #7c4dff !important;
}
.ex-text-deeppurple-a400 {
   color: #651fff !important;
}
.ex-text-deeppurple-a700 {
   color: #6200ea !important;
}
.ex-text-indigo {
   color: #3f51b5 !important;
}
.ex-text-indigo-50 {
   color: #e8eaf6 !important;
}
.ex-text-indigo-100 {
   color: #c5cae9 !important;
}
.ex-text-indigo-200 {
   color: #9fa8da !important;
}
.ex-text-indigo-300 {
   color: #7986cb !important;
}
.ex-text-indigo-400 {
   color: #5c6bc0 !important;
}
.ex-text-indigo-500 {
   color: #3f51b5 !important;
}
.ex-text-indigo-600 {
   color: #3949ab !important;
}
.ex-text-indigo-700 {
   color: #303f9f !important;
}
.ex-text-indigo-800 {
   color: #283593 !important;
}
.ex-text-indigo-900 {
   color: #1a237e !important;
}
.ex-text-indigo-a100 {
   color: #8c9eff !important;
}
.ex-text-indigo-a200 {
   color: #536dfe !important;
}
.ex-text-indigo-a400 {
   color: #3d5afe !important;
}
.ex-text-indigo-a700 {
   color: #304ffe !important;
}
.ex-text-blue {
   color: #2196f3 !important;
}
.ex-text-blue-50 {
   color: #e3f2fd !important;
}
.ex-text-blue-100 {
   color: #bbdefb !important;
}
.ex-text-blue-200 {
   color: #90caf9 !important;
}
.ex-text-blue-300 {
   color: #64b5f6 !important;
}
.ex-text-blue-400 {
   color: #42a5f5 !important;
}
.ex-text-blue-500 {
   color: #2196f3 !important;
}
.ex-text-blue-600 {
   color: #1e88e5 !important;
}
.ex-text-blue-700 {
   color: #1976d2 !important;
}
.ex-text-blue-800 {
   color: #1565c0 !important;
}
.ex-text-blue-900 {
   color: #0d47a1 !important;
}
.ex-text-blue-a100 {
   color: #82b1ff !important;
}
.ex-text-blue-a200 {
   color: #448aff !important;
}
.ex-text-blue-a400 {
   color: #2979ff !important;
}
.ex-text-blue-a700 {
   color: #2962ff !important;
}
.ex-text-lightblue {
   color: #03a9f4 !important;
}
.ex-text-lightblue-50 {
   color: #e1f5fe !important;
}
.ex-text-lightblue-100 {
   color: #b3e5fc !important;
}
.ex-text-lightblue-200 {
   color: #81d4fa !important;
}
.ex-text-lightblue-300 {
   color: #4fc3f7 !important;
}
.ex-text-lightblue-400 {
   color: #29b6f6 !important;
}
.ex-text-lightblue-500 {
   color: #03a9f4 !important;
}
.ex-text-lightblue-600 {
   color: #039be5 !important;
}
.ex-text-lightblue-700 {
   color: #0288d1 !important;
}
.ex-text-lightblue-800 {
   color: #0277bd !important;
}
.ex-text-lightblue-900 {
   color: #01579b !important;
}
.ex-text-lightblue-a100 {
   color: #80d8ff !important;
}
.ex-text-lightblue-a200 {
   color: #40c4ff !important;
}
.ex-text-lightblue-a400 {
   color: #00b0ff !important;
}
.ex-text-lightblue-a700 {
   color: #0091ea !important;
}
.ex-text-cyan {
   color: #00bcd4 !important;
}
.ex-text-cyan-50 {
   color: #e0f7fa !important;
}
.ex-text-cyan-100 {
   color: #b2ebf2 !important;
}
.ex-text-cyan-200 {
   color: #80deea !important;
}
.ex-text-cyan-300 {
   color: #4dd0e1 !important;
}
.ex-text-cyan-400 {
   color: #26c6da !important;
}
.ex-text-cyan-500 {
   color: #00bcd4 !important;
}
.ex-text-cyan-600 {
   color: #00acc1 !important;
}
.ex-text-cyan-700 {
   color: #0097a7 !important;
}
.ex-text-cyan-800 {
   color: #00838f !important;
}
.ex-text-cyan-900 {
   color: #006064 !important;
}
.ex-text-cyan-a100 {
   color: #84ffff !important;
}
.ex-text-cyan-a200 {
   color: #18ffff !important;
}
.ex-text-cyan-a400 {
   color: #00e5ff !important;
}
.ex-text-cyan-a700 {
   color: #00b8d4 !important;
}
.ex-text-teal {
   color: #009688 !important;
}
.ex-text-teal-50 {
   color: #e0f2f1 !important;
}
.ex-text-teal-100 {
   color: #b2dfdb !important;
}
.ex-text-teal-200 {
   color: #80cbc4 !important;
}
.ex-text-teal-300 {
   color: #4db6ac !important;
}
.ex-text-teal-400 {
   color: #26a69a !important;
}
.ex-text-teal-500 {
   color: #009688 !important;
}
.ex-text-teal-600 {
   color: #00897b !important;
}
.ex-text-teal-700 {
   color: #00796b !important;
}
.ex-text-teal-800 {
   color: #00695c !important;
}
.ex-text-teal-900 {
   color: #004d40 !important;
}
.ex-text-teal-a100 {
   color: #a7ffeb !important;
}
.ex-text-teal-a200 {
   color: #64ffda !important;
}
.ex-text-teal-a400 {
   color: #1de9b6 !important;
}
.ex-text-teal-a700 {
   color: #00bfa5 !important;
}
.ex-text-green {
   color: #4caf50 !important;
}
.ex-text-green-50 {
   color: #e8f5e9 !important;
}
.ex-text-green-100 {
   color: #c8e6c9 !important;
}
.ex-text-green-200 {
   color: #a5d6a7 !important;
}
.ex-text-green-300 {
   color: #81c784 !important;
}
.ex-text-green-400 {
   color: #66bb6a !important;
}
.ex-text-green-500 {
   color: #4caf50 !important;
}
.ex-text-green-600 {
   color: #43a047 !important;
}
.ex-text-green-700 {
   color: #388e3c !important;
}
.ex-text-green-800 {
   color: #2e7d32 !important;
}
.ex-text-green-900 {
   color: #1b5e20 !important;
}
.ex-text-green-a100 {
   color: #b9f6ca !important;
}
.ex-text-green-a200 {
   color: #69f0ae !important;
}
.ex-text-green-a400 {
   color: #00e676 !important;
}
.ex-text-green-a700 {
   color: #00c853 !important;
}
.ex-text-lightgreen {
   color: #8bc34a !important;
}
.ex-text-lightgreen-50 {
   color: #f1f8e9 !important;
}
.ex-text-lightgreen-100 {
   color: #dcedc8 !important;
}
.ex-text-lightgreen-200 {
   color: #c5e1a5 !important;
}
.ex-text-lightgreen-300 {
   color: #aed581 !important;
}
.ex-text-lightgreen-400 {
   color: #9ccc65 !important;
}
.ex-text-lightgreen-500 {
   color: #8bc34a !important;
}
.ex-text-lightgreen-600 {
   color: #7cb342 !important;
}
.ex-text-lightgreen-700 {
   color: #689f38 !important;
}
.ex-text-lightgreen-800 {
   color: #558b2f !important;
}
.ex-text-lightgreen-900 {
   color: #33691e !important;
}
.ex-text-lightgreen-a100 {
   color: #ccff90 !important;
}
.ex-text-lightgreen-a200 {
   color: #b2ff59 !important;
}
.ex-text-lightgreen-a400 {
   color: #76ff03 !important;
}
.ex-text-lightgreen-a700 {
   color: #64dd17 !important;
}
.ex-text-lime {
   color: #cddc39 !important;
}
.ex-text-lime-50 {
   color: #f9fbe7 !important;
}
.ex-text-lime-100 {
   color: #f0f4c3 !important;
}
.ex-text-lime-200 {
   color: #e6ee9c !important;
}
.ex-text-lime-300 {
   color: #dce775 !important;
}
.ex-text-lime-400 {
   color: #d4e157 !important;
}
.ex-text-lime-500 {
   color: #cddc39 !important;
}
.ex-text-lime-600 {
   color: #c0ca33 !important;
}
.ex-text-lime-700 {
   color: #afb42b !important;
}
.ex-text-lime-800 {
   color: #9e9d24 !important;
}
.ex-text-lime-900 {
   color: #827717 !important;
}
.ex-text-lime-a100 {
   color: #f4ff81 !important;
}
.ex-text-lime-a200 {
   color: #eeff41 !important;
}
.ex-text-lime-a400 {
   color: #c6ff00 !important;
}
.ex-text-lime-a700 {
   color: #aeea00 !important;
}
.ex-text-yellow {
   color: #ffeb3b !important;
}
.ex-text-yellow-50 {
   color: #fffde7 !important;
}
.ex-text-yellow-100 {
   color: #fff9c4 !important;
}
.ex-text-yellow-200 {
   color: #fff59d !important;
}
.ex-text-yellow-300 {
   color: #fff176 !important;
}
.ex-text-yellow-400 {
   color: #ffee58 !important;
}
.ex-text-yellow-500 {
   color: #ffeb3b !important;
}
.ex-text-yellow-600 {
   color: #fdd835 !important;
}
.ex-text-yellow-700 {
   color: #fbc02d !important;
}
.ex-text-yellow-800 {
   color: #f9a825 !important;
}
.ex-text-yellow-900 {
   color: #f57f17 !important;
}
.ex-text-yellow-a100 {
   color: #ffff8d !important;
}
.ex-text-yellow-a200 {
   color: #ffff00 !important;
}
.ex-text-yellow-a400 {
   color: #ffea00 !important;
}
.ex-text-yellow-a700 {
   color: #ffd600 !important;
}
.ex-text-amber {
   color: #ffc107 !important;
}
.ex-text-amber-50 {
   color: #fff8e1 !important;
}
.ex-text-amber-100 {
   color: #ffecb3 !important;
}
.ex-text-amber-200 {
   color: #ffe082 !important;
}
.ex-text-amber-300 {
   color: #ffd54f !important;
}
.ex-text-amber-400 {
   color: #ffca28 !important;
}
.ex-text-amber-500 {
   color: #ffc107 !important;
}
.ex-text-amber-600 {
   color: #ffb300 !important;
}
.ex-text-amber-700 {
   color: #ffa000 !important;
}
.ex-text-amber-800 {
   color: #ff8f00 !important;
}
.ex-text-amber-900 {
   color: #ff6f00 !important;
}
.ex-text-amber-a100 {
   color: #ffe57f !important;
}
.ex-text-amber-a200 {
   color: #ffd740 !important;
}
.ex-text-amber-a400 {
   color: #ffc400 !important;
}
.ex-text-amber-a700 {
   color: #ffab00 !important;
}
.ex-text-orange {
   color: #ff9800 !important;
}
.ex-text-orange-50 {
   color: #fff3e0 !important;
}
.ex-text-orange-100 {
   color: #ffe0b2 !important;
}
.ex-text-orange-200 {
   color: #ffcc80 !important;
}
.ex-text-orange-300 {
   color: #ffb74d !important;
}
.ex-text-orange-400 {
   color: #ffa726 !important;
}
.ex-text-orange-500 {
   color: #ff9800 !important;
}
.ex-text-orange-600 {
   color: #fb8c00 !important;
}
.ex-text-orange-700 {
   color: #f57c00 !important;
}
.ex-text-orange-800 {
   color: #ef6c00 !important;
}
.ex-text-orange-900 {
   color: #e65100 !important;
}
.ex-text-orange-a100 {
   color: #ffd180 !important;
}
.ex-text-orange-a200 {
   color: #ffab40 !important;
}
.ex-text-orange-a400 {
   color: #ff9100 !important;
}
.ex-text-orange-a700 {
   color: #ff6d00 !important;
}
.ex-text-deeporange {
   color: #ff5722 !important;
}
.ex-text-deeporange-50 {
   color: #fbe9e7 !important;
}
.ex-text-deeporange-100 {
   color: #ffccbc !important;
}
.ex-text-deeporange-200 {
   color: #ffab91 !important;
}
.ex-text-deeporange-300 {
   color: #ff8a65 !important;
}
.ex-text-deeporange-400 {
   color: #ff7043 !important;
}
.ex-text-deeporange-500 {
   color: #ff5722 !important;
}
.ex-text-deeporange-600 {
   color: #f4511e !important;
}
.ex-text-deeporange-700 {
   color: #e64a19 !important;
}
.ex-text-deeporange-800 {
   color: #d84315 !important;
}
.ex-text-deeporange-900 {
   color: #bf360c !important;
}
.ex-text-deeporange-a100 {
   color: #ff9e80 !important;
}
.ex-text-deeporange-a200 {
   color: #ff6e40 !important;
}
.ex-text-deeporange-a400 {
   color: #ff3d00 !important;
}
.ex-text-deeporange-a700 {
   color: #dd2c00 !important;
}
.ex-text-brown {
   color: #795548 !important;
}
.ex-text-brown-50 {
   color: #efebe9 !important;
}
.ex-text-brown-100 {
   color: #d7ccc8 !important;
}
.ex-text-brown-200 {
   color: #bcaaa4 !important;
}
.ex-text-brown-300 {
   color: #a1887f !important;
}
.ex-text-brown-400 {
   color: #8d6e63 !important;
}
.ex-text-brown-500 {
   color: #795548 !important;
}
.ex-text-brown-600 {
   color: #6d4c41 !important;
}
.ex-text-brown-700 {
   color: #5d4037 !important;
}
.ex-text-brown-800 {
   color: #4e342e !important;
}
.ex-text-brown-900 {
   color: #3e2723 !important;
}
.ex-text-grey {
   color: #9e9e9e !important;
}
.ex-text-grey-50 {
   color: #fafafa !important;
}
.ex-text-grey-100 {
   color: #f5f5f5 !important;
}
.ex-text-grey-200 {
   color: #eeeeee !important;
}
.ex-text-grey-300 {
   color: #e0e0e0 !important;
}
.ex-text-grey-400 {
   color: #bdbdbd !important;
}
.ex-text-grey-500 {
   color: #9e9e9e !important;
}
.ex-text-grey-600 {
   color: #757575 !important;
}
.ex-text-grey-700 {
   color: #616161 !important;
}
.ex-text-grey-800 {
   color: #424242 !important;
}
.ex-text-grey-900 {
   color: #212121 !important;
}
.ex-text-bluegrey {
   color: #607d8b !important;
}
.ex-text-bluegrey-50 {
   color: #eceff1 !important;
}
.ex-text-bluegrey-100 {
   color: #cfd8dc !important;
}
.ex-text-bluegrey-200 {
   color: #b0bec5 !important;
}
.ex-text-bluegrey-300 {
   color: #90a4ae !important;
}
.ex-text-bluegrey-400 {
   color: #78909c !important;
}
.ex-text-bluegrey-500 {
   color: #607d8b !important;
}
.ex-text-bluegrey-600 {
   color: #546e7a !important;
}
.ex-text-bluegrey-700 {
   color: #455a64 !important;
}
.ex-text-bluegrey-800 {
   color: #37474f !important;
}
.ex-text-bluegrey-900 {
   color: #263238 !important;
}
.ex-background-red {
   background-color: #f44336 !important;
}
.ex-background-red-50 {
   background-color: #ffebee !important;
}
.ex-background-red-100 {
   background-color: #ffcdd2 !important;
}
.ex-background-red-200 {
   background-color: #ef9a9a !important;
}
.ex-background-red-300 {
   background-color: #e57373 !important;
}
.ex-background-red-400 {
   background-color: #ef5350 !important;
}
.ex-background-red-500 {
   background-color: #f44336 !important;
}
.ex-background-red-600 {
   background-color: #e53935 !important;
}
.ex-background-red-700 {
   background-color: #d32f2f !important;
}
.ex-background-red-800 {
   background-color: #c62828 !important;
}
.ex-background-red-900 {
   background-color: #b71c1c !important;
}
.ex-background-red-a100 {
   background-color: #ff8a80 !important;
}
.ex-background-red-a200 {
   background-color: #ff5252 !important;
}
.ex-background-red-a400 {
   background-color: #ff1744 !important;
}
.ex-background-red-a700 {
   background-color: #d50000 !important;
}
.ex-background-pink {
   background-color: #e91e63 !important;
}
.ex-background-pink-50 {
   background-color: #fce4ec !important;
}
.ex-background-pink-100 {
   background-color: #f8bbd0 !important;
}
.ex-background-pink-200 {
   background-color: #f48fb1 !important;
}
.ex-background-pink-300 {
   background-color: #f06292 !important;
}
.ex-background-pink-400 {
   background-color: #ec407a !important;
}
.ex-background-pink-500 {
   background-color: #e91e63 !important;
}
.ex-background-pink-600 {
   background-color: #d81b60 !important;
}
.ex-background-pink-700 {
   background-color: #c2185b !important;
}
.ex-background-pink-800 {
   background-color: #ad1457 !important;
}
.ex-background-pink-900 {
   background-color: #880e4f !important;
}
.ex-background-pink-a100 {
   background-color: #ff80ab !important;
}
.ex-background-pink-a200 {
   background-color: #ff4081 !important;
}
.ex-background-pink-a400 {
   background-color: #f50057 !important;
}
.ex-background-pink-a700 {
   background-color: #c51162 !important;
}
.ex-background-purple {
   background-color: #9c27b0 !important;
}
.ex-background-purple-50 {
   background-color: #f3e5f5 !important;
}
.ex-background-purple-100 {
   background-color: #e1bee7 !important;
}
.ex-background-purple-200 {
   background-color: #ce93d8 !important;
}
.ex-background-purple-300 {
   background-color: #ba68c8 !important;
}
.ex-background-purple-400 {
   background-color: #ab47bc !important;
}
.ex-background-purple-500 {
   background-color: #9c27b0 !important;
}
.ex-background-purple-600 {
   background-color: #8e24aa !important;
}
.ex-background-purple-700 {
   background-color: #7b1fa2 !important;
}
.ex-background-purple-800 {
   background-color: #6a1b9a !important;
}
.ex-background-purple-900 {
   background-color: #4a148c !important;
}
.ex-background-purple-a100 {
   background-color: #ea80fc !important;
}
.ex-background-purple-a200 {
   background-color: #e040fb !important;
}
.ex-background-purple-a400 {
   background-color: #d500f9 !important;
}
.ex-background-purple-a700 {
   background-color: #aa00ff !important;
}
.ex-background-deeppurple {
   background-color: #673ab7 !important;
}
.ex-background-deeppurple-50 {
   background-color: #ede7f6 !important;
}
.ex-background-deeppurple-100 {
   background-color: #d1c4e9 !important;
}
.ex-background-deeppurple-200 {
   background-color: #b39ddb !important;
}
.ex-background-deeppurple-300 {
   background-color: #9575cd !important;
}
.ex-background-deeppurple-400 {
   background-color: #7e57c2 !important;
}
.ex-background-deeppurple-500 {
   background-color: #673ab7 !important;
}
.ex-background-deeppurple-600 {
   background-color: #5e35b1 !important;
}
.ex-background-deeppurple-700 {
   background-color: #512da8 !important;
}
.ex-background-deeppurple-800 {
   background-color: #4527a0 !important;
}
.ex-background-deeppurple-900 {
   background-color: #311b92 !important;
}
.ex-background-deeppurple-a100 {
   background-color: #b388ff !important;
}
.ex-background-deeppurple-a200 {
   background-color: #7c4dff !important;
}
.ex-background-deeppurple-a400 {
   background-color: #651fff !important;
}
.ex-background-deeppurple-a700 {
   background-color: #6200ea !important;
}
.ex-background-indigo {
   background-color: #3f51b5 !important;
}
.ex-background-indigo-50 {
   background-color: #e8eaf6 !important;
}
.ex-background-indigo-100 {
   background-color: #c5cae9 !important;
}
.ex-background-indigo-200 {
   background-color: #9fa8da !important;
}
.ex-background-indigo-300 {
   background-color: #7986cb !important;
}
.ex-background-indigo-400 {
   background-color: #5c6bc0 !important;
}
.ex-background-indigo-500 {
   background-color: #3f51b5 !important;
}
.ex-background-indigo-600 {
   background-color: #3949ab !important;
}
.ex-background-indigo-700 {
   background-color: #303f9f !important;
}
.ex-background-indigo-800 {
   background-color: #283593 !important;
}
.ex-background-indigo-900 {
   background-color: #1a237e !important;
}
.ex-background-indigo-a100 {
   background-color: #8c9eff !important;
}
.ex-background-indigo-a200 {
   background-color: #536dfe !important;
}
.ex-background-indigo-a400 {
   background-color: #3d5afe !important;
}
.ex-background-indigo-a700 {
   background-color: #304ffe !important;
}
.ex-background-blue {
   background-color: #2196f3 !important;
}
.ex-background-blue-50 {
   background-color: #e3f2fd !important;
}
.ex-background-blue-100 {
   background-color: #bbdefb !important;
}
.ex-background-blue-200 {
   background-color: #90caf9 !important;
}
.ex-background-blue-300 {
   background-color: #64b5f6 !important;
}
.ex-background-blue-400 {
   background-color: #42a5f5 !important;
}
.ex-background-blue-500 {
   background-color: #2196f3 !important;
}
.ex-background-blue-600 {
   background-color: #1e88e5 !important;
}
.ex-background-blue-700 {
   background-color: #1976d2 !important;
}
.ex-background-blue-800 {
   background-color: #1565c0 !important;
}
.ex-background-blue-900 {
   background-color: #0d47a1 !important;
}
.ex-background-blue-a100 {
   background-color: #82b1ff !important;
}
.ex-background-blue-a200 {
   background-color: #448aff !important;
}
.ex-background-blue-a400 {
   background-color: #2979ff !important;
}
.ex-background-blue-a700 {
   background-color: #2962ff !important;
}
.ex-background-lightblue {
   background-color: #03a9f4 !important;
}
.ex-background-lightblue-50 {
   background-color: #e1f5fe !important;
}
.ex-background-lightblue-100 {
   background-color: #b3e5fc !important;
}
.ex-background-lightblue-200 {
   background-color: #81d4fa !important;
}
.ex-background-lightblue-300 {
   background-color: #4fc3f7 !important;
}
.ex-background-lightblue-400 {
   background-color: #29b6f6 !important;
}
.ex-background-lightblue-500 {
   background-color: #03a9f4 !important;
}
.ex-background-lightblue-600 {
   background-color: #039be5 !important;
}
.ex-background-lightblue-700 {
   background-color: #0288d1 !important;
}
.ex-background-lightblue-800 {
   background-color: #0277bd !important;
}
.ex-background-lightblue-900 {
   background-color: #01579b !important;
}
.ex-background-lightblue-a100 {
   background-color: #80d8ff !important;
}
.ex-background-lightblue-a200 {
   background-color: #40c4ff !important;
}
.ex-background-lightblue-a400 {
   background-color: #00b0ff !important;
}
.ex-background-lightblue-a700 {
   background-color: #0091ea !important;
}
.ex-background-cyan {
   background-color: #00bcd4 !important;
}
.ex-background-cyan-50 {
   background-color: #e0f7fa !important;
}
.ex-background-cyan-100 {
   background-color: #b2ebf2 !important;
}
.ex-background-cyan-200 {
   background-color: #80deea !important;
}
.ex-background-cyan-300 {
   background-color: #4dd0e1 !important;
}
.ex-background-cyan-400 {
   background-color: #26c6da !important;
}
.ex-background-cyan-500 {
   background-color: #00bcd4 !important;
}
.ex-background-cyan-600 {
   background-color: #00acc1 !important;
}
.ex-background-cyan-700 {
   background-color: #0097a7 !important;
}
.ex-background-cyan-800 {
   background-color: #00838f !important;
}
.ex-background-cyan-900 {
   background-color: #006064 !important;
}
.ex-background-cyan-a100 {
   background-color: #84ffff !important;
}
.ex-background-cyan-a200 {
   background-color: #18ffff !important;
}
.ex-background-cyan-a400 {
   background-color: #00e5ff !important;
}
.ex-background-cyan-a700 {
   background-color: #00b8d4 !important;
}
.ex-background-teal {
   background-color: #009688 !important;
}
.ex-background-teal-50 {
   background-color: #e0f2f1 !important;
}
.ex-background-teal-100 {
   background-color: #b2dfdb !important;
}
.ex-background-teal-200 {
   background-color: #80cbc4 !important;
}
.ex-background-teal-300 {
   background-color: #4db6ac !important;
}
.ex-background-teal-400 {
   background-color: #26a69a !important;
}
.ex-background-teal-500 {
   background-color: #009688 !important;
}
.ex-background-teal-600 {
   background-color: #00897b !important;
}
.ex-background-teal-700 {
   background-color: #00796b !important;
}
.ex-background-teal-800 {
   background-color: #00695c !important;
}
.ex-background-teal-900 {
   background-color: #004d40 !important;
}
.ex-background-teal-a100 {
   background-color: #a7ffeb !important;
}
.ex-background-teal-a200 {
   background-color: #64ffda !important;
}
.ex-background-teal-a400 {
   background-color: #1de9b6 !important;
}
.ex-background-teal-a700 {
   background-color: #00bfa5 !important;
}
.ex-background-green {
   background-color: #4caf50 !important;
}
.ex-background-green-50 {
   background-color: #e8f5e9 !important;
}
.ex-background-green-100 {
   background-color: #c8e6c9 !important;
}
.ex-background-green-200 {
   background-color: #a5d6a7 !important;
}
.ex-background-green-300 {
   background-color: #81c784 !important;
}
.ex-background-green-400 {
   background-color: #66bb6a !important;
}
.ex-background-green-500 {
   background-color: #4caf50 !important;
}
.ex-background-green-600 {
   background-color: #43a047 !important;
}
.ex-background-green-700 {
   background-color: #388e3c !important;
}
.ex-background-green-800 {
   background-color: #2e7d32 !important;
}
.ex-background-green-900 {
   background-color: #1b5e20 !important;
}
.ex-background-green-a100 {
   background-color: #b9f6ca !important;
}
.ex-background-green-a200 {
   background-color: #69f0ae !important;
}
.ex-background-green-a400 {
   background-color: #00e676 !important;
}
.ex-background-green-a700 {
   background-color: #00c853 !important;
}
.ex-background-lightgreen {
   background-color: #8bc34a !important;
}
.ex-background-lightgreen-50 {
   background-color: #f1f8e9 !important;
}
.ex-background-lightgreen-100 {
   background-color: #dcedc8 !important;
}
.ex-background-lightgreen-200 {
   background-color: #c5e1a5 !important;
}
.ex-background-lightgreen-300 {
   background-color: #aed581 !important;
}
.ex-background-lightgreen-400 {
   background-color: #9ccc65 !important;
}
.ex-background-lightgreen-500 {
   background-color: #8bc34a !important;
}
.ex-background-lightgreen-600 {
   background-color: #7cb342 !important;
}
.ex-background-lightgreen-700 {
   background-color: #689f38 !important;
}
.ex-background-lightgreen-800 {
   background-color: #558b2f !important;
}
.ex-background-lightgreen-900 {
   background-color: #33691e !important;
}
.ex-background-lightgreen-a100 {
   background-color: #ccff90 !important;
}
.ex-background-lightgreen-a200 {
   background-color: #b2ff59 !important;
}
.ex-background-lightgreen-a400 {
   background-color: #76ff03 !important;
}
.ex-background-lightgreen-a700 {
   background-color: #64dd17 !important;
}
.ex-background-lime {
   background-color: #cddc39 !important;
}
.ex-background-lime-50 {
   background-color: #f9fbe7 !important;
}
.ex-background-lime-100 {
   background-color: #f0f4c3 !important;
}
.ex-background-lime-200 {
   background-color: #e6ee9c !important;
}
.ex-background-lime-300 {
   background-color: #dce775 !important;
}
.ex-background-lime-400 {
   background-color: #d4e157 !important;
}
.ex-background-lime-500 {
   background-color: #cddc39 !important;
}
.ex-background-lime-600 {
   background-color: #c0ca33 !important;
}
.ex-background-lime-700 {
   background-color: #afb42b !important;
}
.ex-background-lime-800 {
   background-color: #9e9d24 !important;
}
.ex-background-lime-900 {
   background-color: #827717 !important;
}
.ex-background-lime-a100 {
   background-color: #f4ff81 !important;
}
.ex-background-lime-a200 {
   background-color: #eeff41 !important;
}
.ex-background-lime-a400 {
   background-color: #c6ff00 !important;
}
.ex-background-lime-a700 {
   background-color: #aeea00 !important;
}
.ex-background-yellow {
   background-color: #ffeb3b !important;
}
.ex-background-yellow-50 {
   background-color: #fffde7 !important;
}
.ex-background-yellow-100 {
   background-color: #fff9c4 !important;
}
.ex-background-yellow-200 {
   background-color: #fff59d !important;
}
.ex-background-yellow-300 {
   background-color: #fff176 !important;
}
.ex-background-yellow-400 {
   background-color: #ffee58 !important;
}
.ex-background-yellow-500 {
   background-color: #ffeb3b !important;
}
.ex-background-yellow-600 {
   background-color: #fdd835 !important;
}
.ex-background-yellow-700 {
   background-color: #fbc02d !important;
}
.ex-background-yellow-800 {
   background-color: #f9a825 !important;
}
.ex-background-yellow-900 {
   background-color: #f57f17 !important;
}
.ex-background-yellow-a100 {
   background-color: #ffff8d !important;
}
.ex-background-yellow-a200 {
   background-color: #ffff00 !important;
}
.ex-background-yellow-a400 {
   background-color: #ffea00 !important;
}
.ex-background-yellow-a700 {
   background-color: #ffd600 !important;
}
.ex-background-amber {
   background-color: #ffc107 !important;
}
.ex-background-amber-50 {
   background-color: #fff8e1 !important;
}
.ex-background-amber-100 {
   background-color: #ffecb3 !important;
}
.ex-background-amber-200 {
   background-color: #ffe082 !important;
}
.ex-background-amber-300 {
   background-color: #ffd54f !important;
}
.ex-background-amber-400 {
   background-color: #ffca28 !important;
}
.ex-background-amber-500 {
   background-color: #ffc107 !important;
}
.ex-background-amber-600 {
   background-color: #ffb300 !important;
}
.ex-background-amber-700 {
   background-color: #ffa000 !important;
}
.ex-background-amber-800 {
   background-color: #ff8f00 !important;
}
.ex-background-amber-900 {
   background-color: #ff6f00 !important;
}
.ex-background-amber-a100 {
   background-color: #ffe57f !important;
}
.ex-background-amber-a200 {
   background-color: #ffd740 !important;
}
.ex-background-amber-a400 {
   background-color: #ffc400 !important;
}
.ex-background-amber-a700 {
   background-color: #ffab00 !important;
}
.ex-background-orange {
   background-color: #ff9800 !important;
}
.ex-background-orange-50 {
   background-color: #fff3e0 !important;
}
.ex-background-orange-100 {
   background-color: #ffe0b2 !important;
}
.ex-background-orange-200 {
   background-color: #ffcc80 !important;
}
.ex-background-orange-300 {
   background-color: #ffb74d !important;
}
.ex-background-orange-400 {
   background-color: #ffa726 !important;
}
.ex-background-orange-500 {
   background-color: #ff9800 !important;
}
.ex-background-orange-600 {
   background-color: #fb8c00 !important;
}
.ex-background-orange-700 {
   background-color: #f57c00 !important;
}
.ex-background-orange-800 {
   background-color: #ef6c00 !important;
}
.ex-background-orange-900 {
   background-color: #e65100 !important;
}
.ex-background-orange-a100 {
   background-color: #ffd180 !important;
}
.ex-background-orange-a200 {
   background-color: #ffab40 !important;
}
.ex-background-orange-a400 {
   background-color: #ff9100 !important;
}
.ex-background-orange-a700 {
   background-color: #ff6d00 !important;
}
.ex-background-deeporange {
   background-color: #ff5722 !important;
}
.ex-background-deeporange-50 {
   background-color: #fbe9e7 !important;
}
.ex-background-deeporange-100 {
   background-color: #ffccbc !important;
}
.ex-background-deeporange-200 {
   background-color: #ffab91 !important;
}
.ex-background-deeporange-300 {
   background-color: #ff8a65 !important;
}
.ex-background-deeporange-400 {
   background-color: #ff7043 !important;
}
.ex-background-deeporange-500 {
   background-color: #ff5722 !important;
}
.ex-background-deeporange-600 {
   background-color: #f4511e !important;
}
.ex-background-deeporange-700 {
   background-color: #e64a19 !important;
}
.ex-background-deeporange-800 {
   background-color: #d84315 !important;
}
.ex-background-deeporange-900 {
   background-color: #bf360c !important;
}
.ex-background-deeporange-a100 {
   background-color: #ff9e80 !important;
}
.ex-background-deeporange-a200 {
   background-color: #ff6e40 !important;
}
.ex-background-deeporange-a400 {
   background-color: #ff3d00 !important;
}
.ex-background-deeporange-a700 {
   background-color: #dd2c00 !important;
}
.ex-background-brown {
   background-color: #795548 !important;
}
.ex-background-brown-50 {
   background-color: #efebe9 !important;
}
.ex-background-brown-100 {
   background-color: #d7ccc8 !important;
}
.ex-background-brown-200 {
   background-color: #bcaaa4 !important;
}
.ex-background-brown-300 {
   background-color: #a1887f !important;
}
.ex-background-brown-400 {
   background-color: #8d6e63 !important;
}
.ex-background-brown-500 {
   background-color: #795548 !important;
}
.ex-background-brown-600 {
   background-color: #6d4c41 !important;
}
.ex-background-brown-700 {
   background-color: #5d4037 !important;
}
.ex-background-brown-800 {
   background-color: #4e342e !important;
}
.ex-background-brown-900 {
   background-color: #3e2723 !important;
}
.ex-background-grey {
   background-color: #9e9e9e !important;
}
.ex-background-grey-50 {
   background-color: #fafafa !important;
}
.ex-background-grey-100 {
   background-color: #f5f5f5 !important;
}
.ex-background-grey-200 {
   background-color: #eeeeee !important;
}
.ex-background-grey-300 {
   background-color: #e0e0e0 !important;
}
.ex-background-grey-400 {
   background-color: #bdbdbd !important;
}
.ex-background-grey-500 {
   background-color: #9e9e9e !important;
}
.ex-background-grey-600 {
   background-color: #757575 !important;
}
.ex-background-grey-700 {
   background-color: #616161 !important;
}
.ex-background-grey-800 {
   background-color: #424242 !important;
}
.ex-background-grey-900 {
   background-color: #212121 !important;
}
.ex-background-bluegrey {
   background-color: #607d8b !important;
}
.ex-background-bluegrey-50 {
   background-color: #eceff1 !important;
}
.ex-background-bluegrey-100 {
   background-color: #cfd8dc !important;
}
.ex-background-bluegrey-200 {
   background-color: #b0bec5 !important;
}
.ex-background-bluegrey-300 {
   background-color: #90a4ae !important;
}
.ex-background-bluegrey-400 {
   background-color: #78909c !important;
}
.ex-background-bluegrey-500 {
   background-color: #607d8b !important;
}
.ex-background-bluegrey-600 {
   background-color: #546e7a !important;
}
.ex-background-bluegrey-700 {
   background-color: #455a64 !important;
}
.ex-background-bluegrey-800 {
   background-color: #37474f !important;
}
.ex-background-bluegrey-900 {
   background-color: #263238 !important;
}
.ex-border-red {
   border-color: #f44336 !important;
}
.ex-border-red-50 {
   border-color: #ffebee !important;
}
.ex-border-red-100 {
   border-color: #ffcdd2 !important;
}
.ex-border-red-200 {
   border-color: #ef9a9a !important;
}
.ex-border-red-300 {
   border-color: #e57373 !important;
}
.ex-border-red-400 {
   border-color: #ef5350 !important;
}
.ex-border-red-500 {
   border-color: #f44336 !important;
}
.ex-border-red-600 {
   border-color: #e53935 !important;
}
.ex-border-red-700 {
   border-color: #d32f2f !important;
}
.ex-border-red-800 {
   border-color: #c62828 !important;
}
.ex-border-red-900 {
   border-color: #b71c1c !important;
}
.ex-border-red-a100 {
   border-color: #ff8a80 !important;
}
.ex-border-red-a200 {
   border-color: #ff5252 !important;
}
.ex-border-red-a400 {
   border-color: #ff1744 !important;
}
.ex-border-red-a700 {
   border-color: #d50000 !important;
}
.ex-border-pink {
   border-color: #e91e63 !important;
}
.ex-border-pink-50 {
   border-color: #fce4ec !important;
}
.ex-border-pink-100 {
   border-color: #f8bbd0 !important;
}
.ex-border-pink-200 {
   border-color: #f48fb1 !important;
}
.ex-border-pink-300 {
   border-color: #f06292 !important;
}
.ex-border-pink-400 {
   border-color: #ec407a !important;
}
.ex-border-pink-500 {
   border-color: #e91e63 !important;
}
.ex-border-pink-600 {
   border-color: #d81b60 !important;
}
.ex-border-pink-700 {
   border-color: #c2185b !important;
}
.ex-border-pink-800 {
   border-color: #ad1457 !important;
}
.ex-border-pink-900 {
   border-color: #880e4f !important;
}
.ex-border-pink-a100 {
   border-color: #ff80ab !important;
}
.ex-border-pink-a200 {
   border-color: #ff4081 !important;
}
.ex-border-pink-a400 {
   border-color: #f50057 !important;
}
.ex-border-pink-a700 {
   border-color: #c51162 !important;
}
.ex-border-purple {
   border-color: #9c27b0 !important;
}
.ex-border-purple-50 {
   border-color: #f3e5f5 !important;
}
.ex-border-purple-100 {
   border-color: #e1bee7 !important;
}
.ex-border-purple-200 {
   border-color: #ce93d8 !important;
}
.ex-border-purple-300 {
   border-color: #ba68c8 !important;
}
.ex-border-purple-400 {
   border-color: #ab47bc !important;
}
.ex-border-purple-500 {
   border-color: #9c27b0 !important;
}
.ex-border-purple-600 {
   border-color: #8e24aa !important;
}
.ex-border-purple-700 {
   border-color: #7b1fa2 !important;
}
.ex-border-purple-800 {
   border-color: #6a1b9a !important;
}
.ex-border-purple-900 {
   border-color: #4a148c !important;
}
.ex-border-purple-a100 {
   border-color: #ea80fc !important;
}
.ex-border-purple-a200 {
   border-color: #e040fb !important;
}
.ex-border-purple-a400 {
   border-color: #d500f9 !important;
}
.ex-border-purple-a700 {
   border-color: #aa00ff !important;
}
.ex-border-deeppurple {
   border-color: #673ab7 !important;
}
.ex-border-deeppurple-50 {
   border-color: #ede7f6 !important;
}
.ex-border-deeppurple-100 {
   border-color: #d1c4e9 !important;
}
.ex-border-deeppurple-200 {
   border-color: #b39ddb !important;
}
.ex-border-deeppurple-300 {
   border-color: #9575cd !important;
}
.ex-border-deeppurple-400 {
   border-color: #7e57c2 !important;
}
.ex-border-deeppurple-500 {
   border-color: #673ab7 !important;
}
.ex-border-deeppurple-600 {
   border-color: #5e35b1 !important;
}
.ex-border-deeppurple-700 {
   border-color: #512da8 !important;
}
.ex-border-deeppurple-800 {
   border-color: #4527a0 !important;
}
.ex-border-deeppurple-900 {
   border-color: #311b92 !important;
}
.ex-border-deeppurple-a100 {
   border-color: #b388ff !important;
}
.ex-border-deeppurple-a200 {
   border-color: #7c4dff !important;
}
.ex-border-deeppurple-a400 {
   border-color: #651fff !important;
}
.ex-border-deeppurple-a700 {
   border-color: #6200ea !important;
}
.ex-border-indigo {
   border-color: #3f51b5 !important;
}
.ex-border-indigo-50 {
   border-color: #e8eaf6 !important;
}
.ex-border-indigo-100 {
   border-color: #c5cae9 !important;
}
.ex-border-indigo-200 {
   border-color: #9fa8da !important;
}
.ex-border-indigo-300 {
   border-color: #7986cb !important;
}
.ex-border-indigo-400 {
   border-color: #5c6bc0 !important;
}
.ex-border-indigo-500 {
   border-color: #3f51b5 !important;
}
.ex-border-indigo-600 {
   border-color: #3949ab !important;
}
.ex-border-indigo-700 {
   border-color: #303f9f !important;
}
.ex-border-indigo-800 {
   border-color: #283593 !important;
}
.ex-border-indigo-900 {
   border-color: #1a237e !important;
}
.ex-border-indigo-a100 {
   border-color: #8c9eff !important;
}
.ex-border-indigo-a200 {
   border-color: #536dfe !important;
}
.ex-border-indigo-a400 {
   border-color: #3d5afe !important;
}
.ex-border-indigo-a700 {
   border-color: #304ffe !important;
}
.ex-border-blue {
   border-color: #2196f3 !important;
}
.ex-border-blue-50 {
   border-color: #e3f2fd !important;
}
.ex-border-blue-100 {
   border-color: #bbdefb !important;
}
.ex-border-blue-200 {
   border-color: #90caf9 !important;
}
.ex-border-blue-300 {
   border-color: #64b5f6 !important;
}
.ex-border-blue-400 {
   border-color: #42a5f5 !important;
}
.ex-border-blue-500 {
   border-color: #2196f3 !important;
}
.ex-border-blue-600 {
   border-color: #1e88e5 !important;
}
.ex-border-blue-700 {
   border-color: #1976d2 !important;
}
.ex-border-blue-800 {
   border-color: #1565c0 !important;
}
.ex-border-blue-900 {
   border-color: #0d47a1 !important;
}
.ex-border-blue-a100 {
   border-color: #82b1ff !important;
}
.ex-border-blue-a200 {
   border-color: #448aff !important;
}
.ex-border-blue-a400 {
   border-color: #2979ff !important;
}
.ex-border-blue-a700 {
   border-color: #2962ff !important;
}
.ex-border-lightblue {
   border-color: #03a9f4 !important;
}
.ex-border-lightblue-50 {
   border-color: #e1f5fe !important;
}
.ex-border-lightblue-100 {
   border-color: #b3e5fc !important;
}
.ex-border-lightblue-200 {
   border-color: #81d4fa !important;
}
.ex-border-lightblue-300 {
   border-color: #4fc3f7 !important;
}
.ex-border-lightblue-400 {
   border-color: #29b6f6 !important;
}
.ex-border-lightblue-500 {
   border-color: #03a9f4 !important;
}
.ex-border-lightblue-600 {
   border-color: #039be5 !important;
}
.ex-border-lightblue-700 {
   border-color: #0288d1 !important;
}
.ex-border-lightblue-800 {
   border-color: #0277bd !important;
}
.ex-border-lightblue-900 {
   border-color: #01579b !important;
}
.ex-border-lightblue-a100 {
   border-color: #80d8ff !important;
}
.ex-border-lightblue-a200 {
   border-color: #40c4ff !important;
}
.ex-border-lightblue-a400 {
   border-color: #00b0ff !important;
}
.ex-border-lightblue-a700 {
   border-color: #0091ea !important;
}
.ex-border-cyan {
   border-color: #00bcd4 !important;
}
.ex-border-cyan-50 {
   border-color: #e0f7fa !important;
}
.ex-border-cyan-100 {
   border-color: #b2ebf2 !important;
}
.ex-border-cyan-200 {
   border-color: #80deea !important;
}
.ex-border-cyan-300 {
   border-color: #4dd0e1 !important;
}
.ex-border-cyan-400 {
   border-color: #26c6da !important;
}
.ex-border-cyan-500 {
   border-color: #00bcd4 !important;
}
.ex-border-cyan-600 {
   border-color: #00acc1 !important;
}
.ex-border-cyan-700 {
   border-color: #0097a7 !important;
}
.ex-border-cyan-800 {
   border-color: #00838f !important;
}
.ex-border-cyan-900 {
   border-color: #006064 !important;
}
.ex-border-cyan-a100 {
   border-color: #84ffff !important;
}
.ex-border-cyan-a200 {
   border-color: #18ffff !important;
}
.ex-border-cyan-a400 {
   border-color: #00e5ff !important;
}
.ex-border-cyan-a700 {
   border-color: #00b8d4 !important;
}
.ex-border-teal {
   border-color: #009688 !important;
}
.ex-border-teal-50 {
   border-color: #e0f2f1 !important;
}
.ex-border-teal-100 {
   border-color: #b2dfdb !important;
}
.ex-border-teal-200 {
   border-color: #80cbc4 !important;
}
.ex-border-teal-300 {
   border-color: #4db6ac !important;
}
.ex-border-teal-400 {
   border-color: #26a69a !important;
}
.ex-border-teal-500 {
   border-color: #009688 !important;
}
.ex-border-teal-600 {
   border-color: #00897b !important;
}
.ex-border-teal-700 {
   border-color: #00796b !important;
}
.ex-border-teal-800 {
   border-color: #00695c !important;
}
.ex-border-teal-900 {
   border-color: #004d40 !important;
}
.ex-border-teal-a100 {
   border-color: #a7ffeb !important;
}
.ex-border-teal-a200 {
   border-color: #64ffda !important;
}
.ex-border-teal-a400 {
   border-color: #1de9b6 !important;
}
.ex-border-teal-a700 {
   border-color: #00bfa5 !important;
}
.ex-border-green {
   border-color: #4caf50 !important;
}
.ex-border-green-50 {
   border-color: #e8f5e9 !important;
}
.ex-border-green-100 {
   border-color: #c8e6c9 !important;
}
.ex-border-green-200 {
   border-color: #a5d6a7 !important;
}
.ex-border-green-300 {
   border-color: #81c784 !important;
}
.ex-border-green-400 {
   border-color: #66bb6a !important;
}
.ex-border-green-500 {
   border-color: #4caf50 !important;
}
.ex-border-green-600 {
   border-color: #43a047 !important;
}
.ex-border-green-700 {
   border-color: #388e3c !important;
}
.ex-border-green-800 {
   border-color: #2e7d32 !important;
}
.ex-border-green-900 {
   border-color: #1b5e20 !important;
}
.ex-border-green-a100 {
   border-color: #b9f6ca !important;
}
.ex-border-green-a200 {
   border-color: #69f0ae !important;
}
.ex-border-green-a400 {
   border-color: #00e676 !important;
}
.ex-border-green-a700 {
   border-color: #00c853 !important;
}
.ex-border-lightgreen {
   border-color: #8bc34a !important;
}
.ex-border-lightgreen-50 {
   border-color: #f1f8e9 !important;
}
.ex-border-lightgreen-100 {
   border-color: #dcedc8 !important;
}
.ex-border-lightgreen-200 {
   border-color: #c5e1a5 !important;
}
.ex-border-lightgreen-300 {
   border-color: #aed581 !important;
}
.ex-border-lightgreen-400 {
   border-color: #9ccc65 !important;
}
.ex-border-lightgreen-500 {
   border-color: #8bc34a !important;
}
.ex-border-lightgreen-600 {
   border-color: #7cb342 !important;
}
.ex-border-lightgreen-700 {
   border-color: #689f38 !important;
}
.ex-border-lightgreen-800 {
   border-color: #558b2f !important;
}
.ex-border-lightgreen-900 {
   border-color: #33691e !important;
}
.ex-border-lightgreen-a100 {
   border-color: #ccff90 !important;
}
.ex-border-lightgreen-a200 {
   border-color: #b2ff59 !important;
}
.ex-border-lightgreen-a400 {
   border-color: #76ff03 !important;
}
.ex-border-lightgreen-a700 {
   border-color: #64dd17 !important;
}
.ex-border-lime {
   border-color: #cddc39 !important;
}
.ex-border-lime-50 {
   border-color: #f9fbe7 !important;
}
.ex-border-lime-100 {
   border-color: #f0f4c3 !important;
}
.ex-border-lime-200 {
   border-color: #e6ee9c !important;
}
.ex-border-lime-300 {
   border-color: #dce775 !important;
}
.ex-border-lime-400 {
   border-color: #d4e157 !important;
}
.ex-border-lime-500 {
   border-color: #cddc39 !important;
}
.ex-border-lime-600 {
   border-color: #c0ca33 !important;
}
.ex-border-lime-700 {
   border-color: #afb42b !important;
}
.ex-border-lime-800 {
   border-color: #9e9d24 !important;
}
.ex-border-lime-900 {
   border-color: #827717 !important;
}
.ex-border-lime-a100 {
   border-color: #f4ff81 !important;
}
.ex-border-lime-a200 {
   border-color: #eeff41 !important;
}
.ex-border-lime-a400 {
   border-color: #c6ff00 !important;
}
.ex-border-lime-a700 {
   border-color: #aeea00 !important;
}
.ex-border-yellow {
   border-color: #ffeb3b !important;
}
.ex-border-yellow-50 {
   border-color: #fffde7 !important;
}
.ex-border-yellow-100 {
   border-color: #fff9c4 !important;
}
.ex-border-yellow-200 {
   border-color: #fff59d !important;
}
.ex-border-yellow-300 {
   border-color: #fff176 !important;
}
.ex-border-yellow-400 {
   border-color: #ffee58 !important;
}
.ex-border-yellow-500 {
   border-color: #ffeb3b !important;
}
.ex-border-yellow-600 {
   border-color: #fdd835 !important;
}
.ex-border-yellow-700 {
   border-color: #fbc02d !important;
}
.ex-border-yellow-800 {
   border-color: #f9a825 !important;
}
.ex-border-yellow-900 {
   border-color: #f57f17 !important;
}
.ex-border-yellow-a100 {
   border-color: #ffff8d !important;
}
.ex-border-yellow-a200 {
   border-color: #ffff00 !important;
}
.ex-border-yellow-a400 {
   border-color: #ffea00 !important;
}
.ex-border-yellow-a700 {
   border-color: #ffd600 !important;
}
.ex-border-amber {
   border-color: #ffc107 !important;
}
.ex-border-amber-50 {
   border-color: #fff8e1 !important;
}
.ex-border-amber-100 {
   border-color: #ffecb3 !important;
}
.ex-border-amber-200 {
   border-color: #ffe082 !important;
}
.ex-border-amber-300 {
   border-color: #ffd54f !important;
}
.ex-border-amber-400 {
   border-color: #ffca28 !important;
}
.ex-border-amber-500 {
   border-color: #ffc107 !important;
}
.ex-border-amber-600 {
   border-color: #ffb300 !important;
}
.ex-border-amber-700 {
   border-color: #ffa000 !important;
}
.ex-border-amber-800 {
   border-color: #ff8f00 !important;
}
.ex-border-amber-900 {
   border-color: #ff6f00 !important;
}
.ex-border-amber-a100 {
   border-color: #ffe57f !important;
}
.ex-border-amber-a200 {
   border-color: #ffd740 !important;
}
.ex-border-amber-a400 {
   border-color: #ffc400 !important;
}
.ex-border-amber-a700 {
   border-color: #ffab00 !important;
}
.ex-border-orange {
   border-color: #ff9800 !important;
}
.ex-border-orange-50 {
   border-color: #fff3e0 !important;
}
.ex-border-orange-100 {
   border-color: #ffe0b2 !important;
}
.ex-border-orange-200 {
   border-color: #ffcc80 !important;
}
.ex-border-orange-300 {
   border-color: #ffb74d !important;
}
.ex-border-orange-400 {
   border-color: #ffa726 !important;
}
.ex-border-orange-500 {
   border-color: #ff9800 !important;
}
.ex-border-orange-600 {
   border-color: #fb8c00 !important;
}
.ex-border-orange-700 {
   border-color: #f57c00 !important;
}
.ex-border-orange-800 {
   border-color: #ef6c00 !important;
}
.ex-border-orange-900 {
   border-color: #e65100 !important;
}
.ex-border-orange-a100 {
   border-color: #ffd180 !important;
}
.ex-border-orange-a200 {
   border-color: #ffab40 !important;
}
.ex-border-orange-a400 {
   border-color: #ff9100 !important;
}
.ex-border-orange-a700 {
   border-color: #ff6d00 !important;
}
.ex-border-deeporange {
   border-color: #ff5722 !important;
}
.ex-border-deeporange-50 {
   border-color: #fbe9e7 !important;
}
.ex-border-deeporange-100 {
   border-color: #ffccbc !important;
}
.ex-border-deeporange-200 {
   border-color: #ffab91 !important;
}
.ex-border-deeporange-300 {
   border-color: #ff8a65 !important;
}
.ex-border-deeporange-400 {
   border-color: #ff7043 !important;
}
.ex-border-deeporange-500 {
   border-color: #ff5722 !important;
}
.ex-border-deeporange-600 {
   border-color: #f4511e !important;
}
.ex-border-deeporange-700 {
   border-color: #e64a19 !important;
}
.ex-border-deeporange-800 {
   border-color: #d84315 !important;
}
.ex-border-deeporange-900 {
   border-color: #bf360c !important;
}
.ex-border-deeporange-a100 {
   border-color: #ff9e80 !important;
}
.ex-border-deeporange-a200 {
   border-color: #ff6e40 !important;
}
.ex-border-deeporange-a400 {
   border-color: #ff3d00 !important;
}
.ex-border-deeporange-a700 {
   border-color: #dd2c00 !important;
}
.ex-border-brown {
   border-color: #795548 !important;
}
.ex-border-brown-50 {
   border-color: #efebe9 !important;
}
.ex-border-brown-100 {
   border-color: #d7ccc8 !important;
}
.ex-border-brown-200 {
   border-color: #bcaaa4 !important;
}
.ex-border-brown-300 {
   border-color: #a1887f !important;
}
.ex-border-brown-400 {
   border-color: #8d6e63 !important;
}
.ex-border-brown-500 {
   border-color: #795548 !important;
}
.ex-border-brown-600 {
   border-color: #6d4c41 !important;
}
.ex-border-brown-700 {
   border-color: #5d4037 !important;
}
.ex-border-brown-800 {
   border-color: #4e342e !important;
}
.ex-border-brown-900 {
   border-color: #3e2723 !important;
}
.ex-border-grey {
   border-color: #9e9e9e !important;
}
.ex-border-grey-50 {
   border-color: #fafafa !important;
}
.ex-border-grey-100 {
   border-color: #f5f5f5 !important;
}
.ex-border-grey-200 {
   border-color: #eeeeee !important;
}
.ex-border-grey-300 {
   border-color: #e0e0e0 !important;
}
.ex-border-grey-400 {
   border-color: #bdbdbd !important;
}
.ex-border-grey-500 {
   border-color: #9e9e9e !important;
}
.ex-border-grey-600 {
   border-color: #757575 !important;
}
.ex-border-grey-700 {
   border-color: #616161 !important;
}
.ex-border-grey-800 {
   border-color: #424242 !important;
}
.ex-border-grey-900 {
   border-color: #212121 !important;
}
.ex-border-bluegrey {
   border-color: #607d8b !important;
}
.ex-border-bluegrey-50 {
   border-color: #eceff1 !important;
}
.ex-border-bluegrey-100 {
   border-color: #cfd8dc !important;
}
.ex-border-bluegrey-200 {
   border-color: #b0bec5 !important;
}
.ex-border-bluegrey-300 {
   border-color: #90a4ae !important;
}
.ex-border-bluegrey-400 {
   border-color: #78909c !important;
}
.ex-border-bluegrey-500 {
   border-color: #607d8b !important;
}
.ex-border-bluegrey-600 {
   border-color: #546e7a !important;
}
.ex-border-bluegrey-700 {
   border-color: #455a64 !important;
}
.ex-border-bluegrey-800 {
   border-color: #37474f !important;
}
.ex-border-bluegrey-900 {
   border-color: #263238 !important;
}

.ex-aspect-ratio-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ex-aspect-ratio-1-1 {
    width: 100%;
    position: relative;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}
.ex-aspect-ratio-8-5 {
    width: 100%;
    position: relative;
    padding-top: 62.5%; /* 8:5 Aspect Ratio */
}
.ex-aspect-ratio-3-2 {
    width: 100%;
    position: relative;
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
}
.ex-aspect-ratio-4-3 {
    width: 100%;
    position: relative;
    padding-top: 75%; /* 4:3 Aspect Ratio */
}
.ex-aspect-ratio-16-9 {
    width: 100%;
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
